<div class="wrapper d-flex align-items-center">
    <div class="container-fluid w-25">
     <form class=" d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
       <div class="form-group email p-20">
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email" placeholder="Enter Your Email" class="text-box">
        </div>
       <div class="form-group first-name p-20">
            <label for="password">Password</label><br>
            <input type="password" id="firsttname" name="password" placeholder="Enter your password" class="text-box">
       
        </div>
       <button type="submit" class="btn btn-primary mt-4">Login</button>
       <div class="form-group d-flex flex-column">
         <!-- <small>{{login ? 'Dont have an account' : 'Already a member'}}</small> -->
         <!-- <a  (click)="onSwitch()">Create One</a> -->
       </div>
     </form>
    </div>
   </div>
