// Card styles goes here
.main{
    @extend %transition;
    overflow: auto;
}
.cards{
    width: 100%;
    padding: 1.5rem 0;
}

.card-wrapper{
    flex-wrap: wrap;
    margin: $margin-card-wrapper-y $margin-card-wrapper-x;
}
.card{
    width: 25%;
    padding: $card-padding;
    
    
    .inner-card{
        background-color: $white;
        padding: $card-inner-padding;
        
        .card-icon{
            font-size: $card-icon-font-size;
            height: 60px;
            width: 60px;
            background-color: $primary;
        }
        .card-name{
            color: $card-text-color;
            padding: $card-padding 0;
        }
        .card-number{
            font-size: 2rem;
            padding-bottom: $card-padding;
            color: $purple;
            border-bottom: 1px solid $gray;
        }
        .card-end{
            padding-top: $card-padding;
        }
        // card-icon-colors
        .card-icon-1{
            color: $secondary;   
        }
        .card-icon-2{
            color: $green;
        }
        .card-icon-3{
            color: $secondary;
        }
        .card-icon-4{
            color: $green-blue;
        }

        // arrow-graph-colors
        .arrow-graph{
            font-size: 2.5rem;
        }
        .arrow-1, .arrow-3, .arrow-4{
            color: $green;
        }
        .arrow-2{
            color: $orange;
        }
    }
}

// @each $key,$clr in $theme-colors {
//     .inner-card-#{$key} {
//         color: $clr;
//     }    
// }
// card-hover
.card-1:hover, .card-3:hover{
    background-color: $secondary;
    color: $white;
    .card-icon{
        background-color: $light-blue;

        .card-icon-1, .card-icon-3{
            color: $white;
        }
    }
}
.card-2:hover{
    background-color: $green;
    .card-name{
        color: $white;
    }
}
.card-4:hover{
    background-color: $green-blue;
}

@include media(tab) {
    .main{
        overflow: auto;
    }
    .card{
        width: 50%;
        padding: $card-padding;
    }
}
@include media(mobile) {
    
    .card{
        width: 100%;
        padding: $card-padding;
    }
    #bar:not(:checked){
        & ~ .main{
            filter: blur(1px);
            pointer-events: none;
        }
    }
}
@include media(mobile-phone) {
    #bar:not(:checked){
        & ~ .main{
            filter: blur(1px);
            pointer-events: none;
        }
    }
    .card{
        width: 100%;
        padding: 0.5rem;

        .inner-card{
            padding: 0.5rem;

            .card-icon{
                height: 40px;
                width: 40px;
            }
            .card-number{
                font-size: 1.5rem;
            }
            .arrow-graph{
                font-size: 2rem;
            }
        }

    }
}