// Form controls styles goes here
#search{
    height: $height;
    width: $input-width;
    border: none;
    background-color: $light-gray;
    margin-left: $margin-left-search;
    padding-left: $padding-left;
}
.search-icon{
   left: $left;
   top: $top;
   color: $gray;
}

label{
    color: $gray;
    left: 90px;
    top: 50%;
}

#bar:checked{
    & ~ .sidebar{
        width: 0;
        @extend %transition;
    }

    & ~ label{
        transform: rotate(180deg) translateX(80px);
    }
}
#bar:not(checked){
    & ~ .sidebar{
        @extend %transition;
    }
}

@include media(tab) {
    #search{
        width: 250px;
    }
    .btn{
        width: 50px;
    }
}
@include media(mobile) {
    #search{
        width: 250px;
        margin-left: 10px;
    }
    label{
        left: 40px;
    }
    .search-icon{
        left: 1rem;
    }
    .btn{
        display: none;
    }

    #bar:checked{
        & ~ label{
            transform: rotate(180deg) translateX(40px);
        }
    }
}
@include media(mobile-phone) {
        #search{
            width: 200px;
        }
        .btn{
            display: none;
        }
        .search-icon{
            left: 1rem;
        }

    #bar:checked{
        & ~ label{
            transform: rotate(180deg) translateX(40px);
        }
    }
}