.chart{
    width: 40%;
    flex-grow: 1;
    padding: 1rem;
    margin-left: 1rem;
    background-color: $white;
}
.square1, .square2{
    height: 10px;
    width: 10px;
    background-color: $secondary;
}
.graph{
    height: 200px;
    
    .wrap-vs{
        width: 10px;
        margin: 0.5rem;
        // border: 1px solid black;
    
        .view,.sell{
            width: 8px;
            
            // border: 1px solid black;
        }

    }
}
.total-view, .total-sell{
    padding: 1rem 0;
}

@include media(tab) {
    .chart{
        margin: 2rem 0;
        width: 100%;
    }
}
