// .table-view-wrapper{
//     width: 100%;
// }
.table-section{
    width: 60%;
    padding: 1rem;
    background-color: $white;

    table{
        width: 100%;
        border-collapse: collapse;
        text-align: center;

        th,td{
            padding: 0.8rem;
            width: 16%;
        }

        .table-row{
            background-color: $light-gray;
            border-bottom: 1rem solid $white;
        }    
    }
}
.table2{
    height: 400px;
    overflow: auto;
}



img{
    height: 60px;
    width: 60px;
    // max-width: 100%;
}
.active{
    color: $secondary;
}
@include media(tab){
    .table-view-wrapper{
        display: block;

        .table-section{
            width: 100%;
            padding: 1rem;
        }
    }
    
}
@include media(mobile){
    .table-view-wrapper{
        display: block;

        .table-section{
            width: 100%;
            padding: 1rem;
        }
    }
}