.table-view-wrapper{
    width: 100%;
}
.table-section{
    width: 60%;
    padding: 1rem;
    background-color: $white;

    table{
        width: 100%;
        border-collapse: collapse;
    }
}

th,td{
    padding: 1rem;
}
.table-row{
    background-color: $light-gray;
    border-bottom: 1rem solid $white;
}
img{
    height: 60px;
    width: 60px;
    // max-width: 100%;
}
.active{
    color: $secondary;
}