.d-flex{
    display: flex;
}
.user-list{
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    margin: auto;

    .header{
        justify-content: space-between;
        padding: 20px ;
        .search{
            width: 300px;
            height: 40px;
            border-radius: 5px;
        }
        .add-btn{
            width: 200px;
            height: 40px;
            border-radius: 5px;
        }
    }
    .table-list{
        border:1px solid rgb(100, 95, 95);
        border-radius: 5px;
        margin: 0 20px;

        table,td,th{
            border-collapse: collapse;
            border-bottom: 1px solid rgb(100, 95, 95);
            text-align: center;
            padding: 10px;
        }
    }
}
.btn,.edit-btn{
    background-color: #3ed4f1;
}
.delete-btn{
    background-color: red;
    color: white;
}
