<div class="d-flex ">
    <input class="search" type="search" placeholder="Search" [(ngModel)]="searchData">
    <button class="btn" routerLink="/user/add">ADD</button>
    <div *ngIf="employee?.length">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Gender</th>
                    <th>Date of Employment</th>
                    <th>Department</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employee | search: searchData as result">
                    <td>{{emp.id}}</td>
                    <td>{{emp.firstName + " " + emp.lastName}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.mobile}}</td>
                    <td>{{emp.gender}}</td>
                    <td>{{emp.date | date:'MM/dd/YYYY'}}</td>
                    <td>{{emp.department | custom: dpt }}</td>
                    <td><button class="btn edit-btn" (click)="this.editEmployee(emp)">Edit</button></td>
                    <td><button class="btn delete-btn" (click)="deleteRecord(emp.id)">Delete</button></td>
                </tr>
                <tr>
                    <!-- <td *ngIf="result?.length == 0">No Record Found</td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!employee?.length">No Record Found</div>
</div>