table,td,th{
    border-collapse: collapse;
    border: 1px solid;
}
.search{
    width: 200px;
    margin: 20px{
        right: 20px;
        left: 0
    } ;
}
.btn{
    width: 70px;
}
.btn,.edit-btn{
    background-color: #3ed4f1;
}
.delete-btn{
    background-color: red;
    color: white;
}
