<div>
    <div class="resume-view"
        style="width: 900px;border-block: 4px solid #9d9d9d; background-color: #f5f5f5;padding: 20px 30px; margin: auto;">
        <table>
            <tr>
                <th>
                   <h1>{{resume.name}}</h1>
                    <p><em>WEB DESIGNER, DIRECTOR</em></p>
                </th>
                <th style="width: 200px; ">
                    <p><button>Download PDF</button></p>
                    <a href="mailto: name@yourdomain.com" style="color: red;">name@yourdomain.com</a>
                    <p>(313)-867-5309</p>
                </th>
            </tr>
            <tr>

                <table>
                    <tr>
                        <td class="lable-data"><em>Profile</em></td>
                        <td style="padding-bottom: 20px;">{{resume?.profile}}</td>
                    </tr>
                </table>
            </tr>
            <tr>
                <table>
                    <tr>
                        <td class="lable-data"><em>Skills</em></td>
                        <td style="width: 200px;">
                            <h3>Web Design</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam deserunt magni,
                                ratione alias minima laboriosam!</p>
                        </td>
                        <td style="width: 200px;">
                            <h3>Interface Design</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam, nesciunt! Aliquid
                                deserunt fugit nesciunt ipsam!</p>
                        </td>
                        <td>
                            <h3>Project Direction</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, similique?</p>
                        </td>
                    </tr>
                </table>
            </tr>
            <tr>
                <table>
                    <tr>
                        <td class="lable-data"><em>Technical</em></td>
                        <td>
                            <table style="width: 100%; padding-bottom: 20px;">
                                <tr style=" border-bottom:1px solid #9d9d9d;" *ngFor="let resum of resume.techSkills">
                                    <td style="width: 200px;">{{resum.skill}}</td>
                                    <!-- <td style="width: 200px;">CSS</td> -->
                                    <td>OS X</td>
                                </tr>
                                <tr style=" border-bottom:1px solid #9d9d9d;">
                                    <td>CSS</td>
                                    <td>PHP</td>
                                    <td>Windows XP/Vista</td>
                                </tr>
                                <tr>
                                    <td>JavaScript</td>
                                    <td>PHP</td>
                                    <td>Windows XP/Vista</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </tr>
            <tr>
                <table>
                    <tr>
                        <td class="lable-data exp" rowspan="2"><em>Experience</em></td>
                        <td style="border-bottom:1px solid #9d9d9d;" *ngFor="let resum of resume.experience">
                            <h3>{{resum.companyName}}</h3>
                            <p>{{resum.position}}</p>
                            <p>{{resum.description}}</p>
                        </td>
                        <td *ngFor="let resum of resume.experience"
                            style="vertical-align: top;text-align: center; width: 20%; border-bottom:1px solid #9d9d9d;">
                            <p>{{resum.year}}</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h3>Apple Inc.</h3>
                            <p>Senior Interface Designer</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ea doloremque sunt
                                accusamus fugiat inventore eligendi, nobis ipsa explicabo deleniti!</p>
                        </td>
                        <td style="vertical-align: top;text-align: center; width: 20%;">
                            <p>2005-2007</p>
                        </td>
                    </tr>
                </table>
            </tr>
            <tr>
                <table>
                    <tr>
                        <td class="lable-data"><em>Education</em></td>
                        <td *ngFor="let resum of resume.education">
                            <h3>{{resum.university}}</h3>
                            <p>{{resum.cgpa}}</p>
                        </td>
                    </tr>
                </table>
            </tr>
            <tr>
                <table style="width: 100%; ">
                    <tr>
                        <td style="text-align: center; padding-bottom: 10px;">
                            <span>Jonathan Doe -</span>
                            <a href="mailto: name@yourdomain.com" style="color: red;">name@yourdomain.com</a>
                            <span>- (313)-871-5309</span>
                        </td>
                    </tr>
                </table>
            </tr>
        </table>
    </div>
    <div>
        <!-- <button type="button" class="btn" (click)="this.editUser(resume[0].id)">Edit</button> -->
        <button routerLink="/resume/form" type="button" class="btn">Form</button>
        <!-- <button type="button" class="btn" (click)="deleteRecord(resume[0].id)">Delete</button> -->
    </div>
</div>