<p>user-form works!</p>


        <label for="department" class="form-lable">Department</label><br>
        <div class="form-field">

        </div>
        <div class="form-field">
            <label for="date" class="form-lable">Hire Date</label> <br>
            <input type="date" id="date" formControlName='date' class="form-input">
        </div>

        <div  class="form-field">
            <input type="checkbox"  name="check" >
            <label for="check">Permenant Employee</label><br>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="reset" class="btn btn-primary">clear</button>
        </div>
        
    <!-- </form>
</div> -->
