<div class="form d-flex">
  <h3 class="heading">Build Your Resume:</h3>
  <form [formGroup]="resumeForm" (ngSubmit)="saveData()">
    <div class="form-field">
      <label for="firstName" class="form-lable">Name: </label>
      <input type="text" id="name" formControlName="name" class="form-input" />
    </div>

    <div class="form-field">
      <label for="profile" class="form-lable">Profile: </label>
      <input type="text" id="profile" formControlName="profile" class="form-input" />
    </div>

    <!-- <div class="form-field">
      <label for="skills" class="form-lable">Skills: </label>
      <button type="button">Add Skill +</button>
    </div> -->

    <div class="form-field">
      <label for="techSkill" class="form-lable">Technical Skills: </label>

      <button type="button" (click)="addTechSkill()">Add Technical Skill +</button>

      <div formArrayName="techSkill" *ngFor="let tskill of techSkill.controls; let i = index">
        <div [formGroupName]="i" class="">
          <input type="text" formControlName="techSkill" class="" placeholder="Technical Skill">
          <button class="btn-warn" (click)="deleteSkill(i)">Delete</button>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="experience" class="form-lable">Experience: </label>
      <button type="button" (click)="addExperience()">Add Experience +</button>
      <div formArrayName="experience" *ngFor="let exp of experience['controls']; let i = index">
        <div [formGroupName]="i" class="">
          <input type="text" formControlName="name" class="" placeholder="Company Name">
          <input type="text" formControlName="position" class="" placeholder="Position">
          <input type="text" formControlName="description" class="" placeholder="Description">
          <input type="text" formControlName="year" class="" placeholder="Year">
          <button class="btn-warn" (click)="deleteExperience(i)">Delete</button>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="education" class="form-lable">Education: </label>
      <input type="text" id="university" formControlName="university" class="form-input" placeholder="University" />
      <input type="text" id="cgpa" formControlName="cgpa" placeholder="CGPA" />
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset">Reset</button>
    </div>
  </form>
</div>