<div class="form d-flex m-4">
  <h3 class="heading">Build Your Resume:</h3>
  <form [formGroup]="resumeForm" (ngSubmit)="saveData()">
    <div class="form-group form-inline">
      <label for="name" class="form-lable">Name: </label>
      <input type="text" id="name" formControlName="name" class="form-control" />
      <small *ngIf="getValue['name'].touched && getValue['name'].errors?.['required']" class="warn-msg">This Field is
        Required</small>
    </div>

    <div class="form-group form-inline">
      <label for="profile" class="form-lable">Profile: </label><br />
      <input type="text" id="profile" formControlName="profile" class="form-control" /> <br>
      <small *ngIf="getValue['profile'].touched && getValue['profile'].errors?.['required']" class="warn-msg">This Field
        is Required
      </small>
    </div>

    <!-- <div class="form-field">
      <label for="skills" class="form-lable">Skills: </label>
      <button type="button">Add Skill +</button>
    </div> -->
    <!-- skills -->
    <label for="techSkill" class="form-lable">Technical Skills: </label>
    <button type="button" class="btn btn-secondary" (click)="addSkills()">Add Technical Skill +</button>
    <div class="form-group" formArrayName="techSkills" *ngFor="let tskill of techSkill.controls; let i = index">
      <div [formGroupName]="i" class="col-6">
        <input type="text" formControlName="techSkills" placeholder="Technical Skill" class="form-control" />

        <small
          *ngIf="getFormGroup(tskill).controls['techSkills'].touched  && getFormGroup(tskill).controls['techSkills'].errors?.['required']"
          class="warn-msg">This Field is Required</small>
        <button class="btn btn-danger" type="button" (click)="deleteSkill(i)"> Delete </button>
      </div>
    </div>
    <!-- experience -->
    <label for="experience" class="form-lable">Experience: </label>
    <button type="button" class="btn btn-secondary" (click)="addExperience()">Add Experience +</button>
    <div class="form-group " formArrayName="experience" *ngFor="let exp of experience.controls; let i = index">
      <div [formGroupName]="i" class="d-flex experience">
        <input type=" text" formControlName="companyName" class="form-control me-2" placeholder="Company Name" />
        <small
          *ngIf="getFormGroup(exp).controls['companyName'].touched && getFormGroup(exp).controls['companyName'].errors?.['required']"
          class="warn-msg">This Field is Required</small>

        <input type="text" formControlName="position" class="form-control me-2" placeholder="Position" />
        <small
          *ngIf="getFormGroup(exp).controls['position'].touched && getFormGroup(exp).controls['position'].errors?.['required']"
          class="warn-msg">This Field is Required</small>

        <input type="text" formControlName="description" class="form-control me-2" placeholder="Description" />
        <small
          *ngIf="getFormGroup(exp).controls['description'].touched && getFormGroup(exp).controls['description'].errors?.['required']"
          class="warn-msg">This Field is Required</small>

        <input type="text" formControlName="year" class="form-control" placeholder="Year" />
        <small
          *ngIf="getFormGroup(exp).controls['year'].touched && getFormGroup(exp).controls['year'].errors?.['required']"
          class="warn-msg">This Field is Required</small>

        <button class="btn btn-danger" type="button" (click)="deleteExperience(i)">Delete </button>
      </div>
    </div>
    <!-- education -->
    <div class="form-group">
      <label for="education" class="form-lable">Education: </label>
      <button type="button" class="btn btn-secondary" (click)="addEducation()">Add Education +</button>
      <div formArrayName="education" *ngFor="let edu of education.controls; let i = index">
        <div [formGroupName]="i">
          <div class="form-group form-row col-6">
            <input type="text" id="university" formControlName="university" class="form-control mb-2" placeholder="University" />
            <small
              *ngIf="getFormGroup(edu).controls['university'].touched && getFormGroup(edu).controls['university'].errors?.['required']"
              class="warn-msg">This Field is Required</small>

            <input type="text" id="cgpa" formControlName="cgpa" class="form-control" placeholder="CGPA" />
            <small
              *ngIf="getFormGroup(edu).controls['cgpa'].touched && getFormGroup(edu).controls['cgpa'].errors?.['required']"
              class="warn-msg">This Field is Required</small>
          </div>
          <button class="btn btn-danger" type="button" (click)="deleteEducation(i)"> Delete </button>
        </div>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-primary">Reset</button>
    </div>
  </form>
</div>
<!-- <div formArrayName="techSkill"  
      *ngFor="let item of techSkill.controls ; let i = index;">  
      <div [formGroupName]="i">  
        <input formControlName="techskill" placeholder="Item name">
      </div>  
    </div> 
    <button type="button" (click)="addSkills()">Add</button> -->