// Theme Primary Color
$primary: #f8f8f8;

// Mainly use for UI controls like Buttons
$secondary: #1271ff;

// Used for Footer Section
$accent: #021a28;

// Mainly use for Normal Text color
$gray: #abb1bf;
$light-gray: #f5f7f9;

$orange: #fe9675;
$light-blue: #559afe;

$light-green:#d3e0d3;
$light-g-blue: #f4f9f4;

$green: #8bc38a;
$green-blue: #83bcbd;
// Additional Shades of gray color
$white: white;
$light: #f8fafc;
$extra-light: #fcfcfc;

// Dedicated for button text only
$btn-text-primary: $primary;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "gray": $gray,
  "light": $light,
  "accent": $accent
);
