
// fonts
$font-family: 'Josefin Sans', sans-serif;

// Header
$badge-height: 60px;
$justify-content-between: space-between;
$header-padding-y: 1rem;
$header-padding-x: 1.25rem;

// logo-section
$height: 2rem;
$input-width: 300px;
$btn-width: 70px;

// icons
$icon-font-size: 1.25rem;
$card-icon-font-size: 1.5rem;

// sidebar
$badge-width: 60px;