/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans&family=Roboto&display=swap');

@import '@angular/cdk/overlay-prebuilt.css';

@import "~bootstrap/dist/css/bootstrap.css";
// @import "~src/assets/scss/base/index";
// @import "~src/assets/scss/vendor/bootstrap-base";
// @import "~src/assets/scss/vendor/bootstrap-components";
// @import "~src/assets/scss/component/index";

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#bar{
    display: none;
}
#bar:checked ~ .sidebar{
    flex: 0 0 70px;
}

#bar:checked ~ .sidebar .side aside nav ul li a span{
    transform: translateX(150px);
}
#bar:checked ~ .sidebar .side aside div .heading{
    transform: translateX(150px);
}

@media screen and (max-width:768px){

    .sidebar{
        position: absolute;
        height: 100%;
        left: -250px;
        z-index: 99;
        transition: 0.4s all;   
    }
    .outlet{
        margin-left: 80px;
    }
    #bar:checked ~ .sidebar{
        width: 100%;
        left: 0;
    }
    
    #bar:checked ~ .sidebar .side aside nav ul li a span{
        transform: translateX(0);
    }
    
    #bar:checked ~ .sidebar .side aside div .heading{
        transform: translateX(0);    
    }
}

@media screen and (max-width: 567px) {
    .sidebar{
        // position: absolute;
        height: 100%;
        left: -100%;
        z-index: 99;
        transition: 0.4s all;     
    }
    
    #bar:checked ~ .sidebar{
        width: 100%;
        left: 0;
    }
    
    #bar:checked ~ .sidebar .side aside nav ul li a span{
        transform: translateX(0);
    }
   
    #bar:checked ~ .sidebar .side aside div .heading{
        transform: translateX(0);    
    }
}