/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#bar{
    display: none;
}
#bar:checked ~ .sidebar{
    flex: 0 0 70px;
}

#bar:checked ~ .sidebar .side aside nav ul li a span{
    transform: translateX(150px);
}
#bar:checked ~ .sidebar .side aside div a h1{
    transform: translateX(150px);
}