.form-data {
    width: 500px;
    margin: auto;

    .form-field {
        margin: 1.25rem;
        height: 2rem;
        display: flex;
        justify-content:left;

        .form-input {
            width: 300px;   
        }
        small{
            color: red;
        }
    }
    .form-lable {
        width: 200px;
        font-size: 20px;
    }
    .btn-primary {
        width: 100px;
        margin: 1.25rem;
    }
}





