.d-flex{
    display: flex;
}
.user-form{
    background-color: rgba(1, 3, 8, 0.287);
    border-radius: 5px;
    // margin:100px auto;
    justify-content: center;
    align-items: center;
}
.form-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;

    .form-field {
        margin: 1.25rem;
        height: 2rem;
        // display: flex;
        // justify-content:left;

        .form-input {
            width: 300px;   
        }
        small{
            color: red;
        }
    }
    .form-lable {
        width: 200px;
        font-size: 20px;
    }
    .btn-primary {
        width: 100px;
        margin: 1.25rem;
    }
}





