// Theme Primary Color
$dark: black;
$primary: $dark;

// Mainly use for UI controls like Buttons
$secondary: #00b11c;

// Used for Footer Section
$accent: #021a28;

$yellow: #c1875f;
$light-yellow: #ffefe2; 

$warning: $yellow;
// Mainly use for Normal Text color
$gray: #989d9e;


$icon-color: #83848d;
// Additional Shades of gray color
$light: #f8fafc;
$extra-light: #fcfcfc;

// Dedicated for button text only
$btn-text-primary: $primary;

$white: white;
$black: black;
$dark: $black;

$card1-bg-color: #f9f8f3;
$card-icon-bg-color: #e2ded3;
// card
$light-gray: #f2f2f2;

$blue: #81bbc9;
$light-blue: #e6f5fa;

$green: #88c28f;
$light-green: #eefcef;

$purple: #6868ff;
$light-purple: #f4f5f9;

// $red: #ec6160;
// $light-red: #ffeeed;

// $card-color: (
//   "yellow": $light-yellow,
//   "green": $light-green,
//   "blue": $light-blue,
//   "purple": $light-purple,

// );
// $theme-colors: (
//   "primary": $primary,
//   "secondary": $secondary,
//   "gray": $gray,
//   "light": $light,
//   "accent": $accent
// );
$nav-link-color: $dark;