.side-section{
    flex: 0 0 200px;
    height: 100%;
    border: 1px solid black;
}
.sidebar{
    width: 200px;
    height: 100%;
}
.navbar{
    padding: 1rem;
    ul{
        list-style-type: none;

        .nav-item{
            padding: $padding 0;
        }  
    }
}
.icons{
    padding-right: $padding;
}      