.header{
 padding: 1.5rem;
 .logo{
     font-size: 1.5rem;
 }
}
.side-section{
    flex: 0 0 200px;
    height: 100%;
    border-right: 1px solid $gray;
}
.sidebar{
    width: 200px;
    height: 100%;
}
.navbar{
    // padding: 1.5rem;
    ul{

        // list-style-type: none;

        .nav-item{
            padding: $padding-1-5rem 0;
            &:hover{
                background-color: $primary;
                
                .nav-link{
                    border-left: 2px solid $dark;
                    // color: $light;
                }
            }
        }  
        
    }
}
.icons{
    padding-left: $padding-2rem;
    padding-right: $padding;
}      