<div class="d-flex side">
   
    <aside class="d-flex">
        <div class="d-flex main-logo">
            
            <a class="heading" href="#">
                <span>
                    <h1>Angular</h1>
                </span>
            </a>
        </div>
        <nav>
            <ul class="list1" style="border-bottom: 1px solid rgb(156, 158, 163);">
                <li><a class="d-flex nav-list" href="#" routerLink="./assesment"><span class="icon icon-spinner2"></span>Assesment-1</a></li>
                <li><a class="d-flex nav-list" href="#" routerLink="/user/list"><span class="icon icon-address-book"></span>List of Employee</a></li>
                <li><a class="d-flex nav-list" href="#" routerLink="/user/add"><span class="icon icon-user-plus"></span>Add Form</a></li>
                <li><a class="d-flex nav-list" href="#" routerLink="./resume"><span class="icon icon-file-text2"></span>Resume-Builder</a></li>
            </ul>
        </nav>
    </aside>
    
</div>