.d-flex {
    display: flex;
}
.side{
    height: 100%;
    flex-direction: column;
    background-color: white;

    aside{
        flex-direction: column;
        position: relative;
        .main-logo{
            border-bottom: 1px solid rgb(156, 158, 163);
            // justify-content: center;
            min-height: 80px;
            align-items: center;
    
            .logo-a {
                color: black;
                text-decoration-line: none;
                display: flex;
                align-items: center;
                font-size: 1.25rem;
               
            }
            .heading{
                text-decoration: none;
                color: black;
                margin-left: 50px;
                overflow: hidden;
                // transform: translateX(0);
                transition: transform .4s all;
            }
        }
    }

    nav {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        height: 100%;
    }

    a{
        transition: 0.4s all;
        overflow: hidden;
    }
    .list1 {
        padding: 10px 10px;
        list-style-type: none;
        justify-content: center;  
        
        .icon {
            margin: auto 10px;
        }
        span{
            transition: 0.4s all;
        }
        .nav-list {
            text-decoration-line: none;
            display: flex;
            color: black;
            &:hover{
                color: blue;
            }
            padding: 10px;
            padding-left: 10px;
            transition: 0.4s all;
        
        }
        .nav-list:hover {
            background-color: #cdc8c8;
            border-radius: 5px;
        }
    }
   
  
}

// ul{
//     list-style-type: none;
//     padding: 0;

//     li{
//         background-color: rgb(0, 110, 255);
//         padding: 10px;
//         margin: 10px 10px;
        
    
//         a{
//             text-decoration: none;
//             color: white;
//         }
//     }
// }
