<div class="d-flex side overflow-auto">
    <aside class="d-flex">
        <div class="d-flex main-logo">
            <a class="heading" href="#">
                <h1>Angular</h1>
            </a>
        </div>
        <div class="overflow-auto">
        <nav>
            <ul class="list1" style="border-bottom: 1px solid rgb(156, 158, 163);">
                <li><a class="d-flex nav-list" href="#" routerLink="./assesment"><i class="icon icon-spinner2"></i>
                        <span>Assesment-1</span></a></li>
                <li><a class="d-flex nav-list" href="#" routerLink="/user/list"><i class="icon icon-address-book"></i>
                        <span>List of Employee</span></a></li>
                <li><a class="d-flex nav-list" href="#" routerLink="/user/add"><i class="icon icon-user-plus"></i>
                        <span>Add Form</span></a></li>
                <li><a class="d-flex nav-list" href="#" routerLink="./resume"><i class="icon icon-file-text2"></i>
                        <span>Resume-Builder</span></a></li>              
                <!-- <li><a class="d-flex nav-list" href="#" routerLink="./overlay"><i class="icon icon-file-text2"></i>
                        <span>CDK-Overlay</span></a></li> -->
                <li><a class="d-flex nav-list" href="#" routerLink="./todo"><i class="icon icon-calendar"></i>
                        <span>ToDo</span></a></li>
                <li><a class="d-flex nav-list" href="#" routerLink="./template"><i class="icon icon-folder-open"></i>
                        <span>ng-template</span></a></li>
                <li><a class="d-flex nav-list" href="#" routerLink="./crud"><i class="icon icon-notification"></i>
                        <span>Crud with Static-data</span></a></li>
                <li><a class="d-flex nav-list" href="#" routerLink="./mvp"><i class="icon icon-bubbles "></i>
                        <span>MVP</span></a></li>
                <li><a class="d-flex nav-list" href="#" routerLink="./sibling"><i class="icon icon-user-group"></i>
                        <span>Sibling</span></a></li>
                <li><a class="d-flex nav-list" href="#" routerLink="./mentor"><i class="icon icon-user"></i>
                        <span>Mentor-List</span></a></li>
            </ul>
        </nav>
        </div>
    </aside>

</div>