<div class="sidebar">
    <div class="d-flex logo">
        <a class="d-flex logo-a" href="#">
            <span class="icon icon-grid"></span>
            <span>
                <h2>Angular</h2>
            </span>
        </a>
    </div>
    <nav>
        <ul class="list1" style="border-bottom: 1px solid rgb(156, 158, 163);">
            <li><a class="d-flex nav-list" href="#" routerLink="./assesment"><span class="icon"></span>Assesment-1</a></li>
            <li><a class="d-flex nav-list" href="#" routerLink="/user/list"><span class="icon icon-dot-circle-o"></span>List of Employee</a></li>
            <li><a class="d-flex nav-list" href="#" routerLink="/user/add"><span class="icon icon-dot-circle-o"></span>Add Form</a></li>
            <li><a class="d-flex nav-list" href="#" routerLink="./resume"><span class="icon icon-dot-circle-o"></span>Resume-Builder</a></li>
        </ul>
    </nav>
</div>