.d-flex{
    display: flex;
}
.user-form{
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;

    .form-field {
        height: 2rem;

        .form-input {
            width: 300px;   
        }
        small{
            margin-bottom: 10px;
            color: red;
        }
    }
    .form-lable {
        width: 300px;
        font-size: 20px;
    }
    .btn{
        width: 100px;
        height: 40px;
        margin: 1.25rem;
        font-size: 20px;
        background-color: white;   
        border-radius: 5px;
    }  
    .btn-add{
        color: blue;
        border-color: blue;
    }
    .btn-clear{
        color: red;
        border-color: red;
    }
}





