.wrapper{
    padding: 2rem;
}
.image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

// 1st card- Hello Dr. Good Morning

.text-gray{
    color: $medify-secondary;
}

// // status 
// .pending{
//     color: yellow;
// }
// .approved{

// }
// .rejected{

// }