<!-- start: wrapper -->
<div class="wrapper h-100">
    <!-- start: row -->
    <div class="row g-4 h-100">
        <!-- start: doctor's-intro -->
        <div class="col-md-7 col-12">
            <div class="d-flex justify-content-between p-3 h-100 shadow rounded">
                <figure>
                    <img src="assets/image/pexels-marta-dzedyshko-2067396 (1).jpg" style="height: 60px; " alt="">
                </figure>
                <div>
                    <h3 class="">
                        Hello Dr. {{firstName}}, <span class="text-primary">Good Morning</span>
                    </h3>
                    <p class="text-gray m-0">Have a nice day and don't forget to take</p>
                    <p class="text-gray">care of your health!</p>
                    <!-- <span class="hero-text text-gray">Have a nice day and don't forget to take <br> care of your health!</span> -->
                </div>
                <figure>
                    <img src="" alt="Doctor's Image">
                </figure>
            </div>
        </div>
        <!-- end: doctor's-intro -->

        <!-- start: numbers of pharmacies and patient -->
        <div class="col-md-5 col-12">
            <div class="shadow d-flex h-100 p-1">
                <div class="d-flex col-6 align-items-center justify-content-between border-end border-dark p-3">
                    <div class="pe-3">
                        <figure>
                            <img src="assets/image/pexels-marta-dzedyshko-2067396 (1).jpg" style="height: 60px;" alt="Pharma-logo">
                        </figure>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="">45</span>
                        <span class="text-gray">Pharmacies</span>
                    </div>
                </div>
                <div class="border-0 col-6 d-flex align-items-center patient justify-content-between p-3">
                    <div class="pe-3">
                        <img src="" alt="Patient-logo">
                    </div>
                    <div class="d-flex flex-column">
                        <span class="">58</span>
                        <span class="text-gray">Patient</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: numbers of pharmacies and patient -->

        <!-- start: google-chart -->
        <div class="col-md-7 col-12">
            <div class="h-100 shadow rounded">
                <div class="google-chart">
                    Chart
                </div>
            </div>
        </div>
        <!-- end: google-chart -->

        <!-- start: list of pharmacies -->
        <div class="col-md-5 col-12">
            <div class="shadow rounded h-100 p-3">
                <div class="d-flex justify-content-between border-bottom">
                    <span>Pharmacies</span>
                    <a href="#">View all</a>
                </div>
                <div class="d-flex justify-content-between pt-3" *ngFor="let catch of data">
                    <div class="d-flex mb-3">
                        <figure class="m-0 pe-3"><img src="assets/image/pexels-photo-2762942.jpeg" class="image"
                                alt="Medical-Image"></figure>
                        <span class="d-flex align-items-center">{{catch.medical}}</span>
                    </div>
                    <div class="text-gray text-end d-flex flex-column">
                        <span>{{catch.mobile}}</span>
                        <span>{{catch.address}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: list of pharmacies -->
        
        <!-- start: view prescription -->
        <div class="col-md-7 col-12">
            <div class="shadow rounded h-100">
                <div class="d-flex justify-content-between border-bottom">
                    <span>View Prescription</span>
                    <a href="#">View all</a>
                </div>
                <div class="d-flex justify-content-between" *ngFor="let pre of preData">
                    <div class="d-flex img">
                        <figure class="pe-3">
                            <img src="/assets/image/logo-img.png" class="image" alt="Patient's Picture">
                        </figure>
                        <div class="d-flex flex-column">
                            <span>{{pre.name}}</span>
                            <span class="text-gray">{{pre.disease}}</span>
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-column">
                        <span [ngClass]="{'text-success': pre.status == 'Approved', 'text-warning': pre.status == 'Pending', 'text-danger': pre.status == 'Rejected'  } ">
                            {{pre.status}}
                        </span>
                        <span class="text-gray">by {{pre.medical}}</span>
                    </div>
                    <span class="text-gray">
                        {{pre.time}}
                    </span>
                </div>
            </div>
        </div>
        <!-- end: view prescription -->

        <!-- start: list of patient -->
        <div class="col-md-5 col-12">
            <div class="shadow rounded h-100">
                <div class="d-flex justify-content-between border-bottom">
                    <span>My Patient</span>
                    <a href="#">View all</a>
                </div>

                <div class="d-flex justify-content-between" *ngFor="let patient of patientData">
                    <div class="d-flex">
                        <figure>
                            <img src="assets/image/logo-img.png" class="image" alt="Image">
                        </figure>
                        <div class="d-flex flex-column">
                            <span>{{patient.name}}</span>
                            <span class="gender text-gray">{{patient.gender}} • {{patient.age}} yrs</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column patient-contact text-gray text-end">
                        <span>{{patient.time}}</span>
                        <span>{{patient.mobile}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: list of patient -->
    </div>
    <!-- end: row -->
</div>
<!-- end: wrapper -->