<!-- start: wrapper -->
<div class="wrapper h-100">
    <!-- start: row -->
    <div class="row g-4 h-100">
        <!-- start: doctor-intro -->
        <div class="col-7 shadow-sm rounded">
            <div class="d-flex justify-content-between">
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <div class="greeting">
                        Hello Dr. Virat, <span>Good Morning</span>
                    </div>
                    <div class="greeting-quote">
                        Have a nice day and don't forget to take 
                    </div>
                    <div class="greeting-quote">
                        care of your health!
                    </div>        
                </div>
                
                <div class="">
                    <img src="" alt="Doctor's Image">
                </div>
            </div>
        </div>
        <!-- end: doctor-intro -->

        <!-- start: numbers of pharmacies and patient -->
        <div class="col-5 numbers shadow-sm rounded">
            <div class="d-flex">
                <div class="d-flex pharma justify-content-between">
                    <div class="pe-3">
                        <img src="" alt="Pharma-logo">  
                    </div>
                    <div class="">
                        <div>45</div>
                        <div class="count">Pharmacies</div>
                    </div>
                </div>
                <div class="d-flex patientn justify-content-between">
                    <div class="pe-3">
                        <img src="" alt="Patient-logo">
                    </div>
                    <div class="">
                        <div>45</div>
                        <div class="count">Patient</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: numbers of pharmacies and patient -->

        <!-- trial -->
        <div class="col-7 shadow-sm rounded">
            <!-- start: google-chart -->
            <div class="google-chart">
                Chart
            </div>
            <!-- end: google-chart -->
        </div>

        <div class="col-5 shadow-sm rounded">
            <!-- start: list of pharmacies -->
            <div class="pharmacyList ">
                <div class="d-flex pharmaTitle justify-content-between">
                    <div>Pharmacies</div>
                    <div><a href="#">View all</a></div>
                </div>
            </div>

            <div class="d-flex justify-content-between" *ngFor="let catch of data">
                <div class="d-flex">
                    <div><img src="assets/image/pexels-photo-2762942.jpeg" class="image" alt="Medical-Image"></div>
                    <div class="d-flex align-items-center">{{catch.medical}}</div>
                </div>
                <div class="pharma-contact text-end">
                    <div>{{catch.number}}</div>
                    <div>{{catch.address}}</div>
                </div>
            </div>
            <!-- end: list of pharmacies -->
        </div>
        <div class="col-7 shadow-sm rounded">
            <!-- start: view prescription -->
            <div class="prescription">
                <div class="d-flex justify-content-between">
                    <div>View Prescription</div>
                    <div><a href="#">View all</a></div>
                </div>
            </div>
            <!-- start: view-prescription-1 -->
            <div class="d-flex space-evenly" *ngFor="let pre of preData">
                <div class="img pe-4">
                    <img src="/assets/image/logo-img.png" class="image" alt="Patient's Picture">
                </div>
                <div class="">
                    <div>{{pre.name}}</div>
                    <div class="disease">{{pre.diseas}}</div>
                </div>
                <div class="col-5">
                    <div class="text-warning">{{pre.status}}</div>
                    <div class="medical-name">by {{pre.medical}}</div>
                </div>
                <div class="time col-2">
                    {{pre.time}}
                </div>
            </div>
            <!-- end: view-prescription-1 -->

            <!-- start: view-prescription-2 -->
            <div class="d-flex justify-content-between">
                <div class="img pe-4">
                    <img src="/assets/image/logo-img.png" class="image" alt="Patient's Picture">
                </div>
                <div class="col-4">
                    <div>Zeel Patel</div>
                    <div>Headache, Fever</div>
                </div>
                <div class="col-5">
                    <div class="text-success">Approved</div>
                    <div>by Patient</div>
                </div>
                <div class="time ">
                    12.35 AM
                </div>
            </div>
            <!-- end: view-prescription-2 -->
            <!-- start: view-prescription-3 -->
            <div class="d-flex justify-content-between">
                <div class="d-flex img">
                    <!-- <div> -->
                        <figure class="pe-4">

                            <img src="/assets/image/logo-img.png" class="image" alt="Patient's Picture">
                        </figure>
                    <!-- </div> -->
                    <div class="">
                        <div>Zeel Patel</div>
                        <div>Headache, Fever</div>
                    </div>
                </div>
                <div class="">
                    <div>Approved</div>
                    <div>by Patient</div>
                </div>
                <div class="time">
                    12.35 AM
                </div>
            </div>
            <!-- end: view-prescription-3 -->

        </div>
        <!-- end: view prescription -->

        <!-- start: list of patient -->
        <div class="col-5 shadow-sm rounded">
            <div class="patientList">
                <div class="d-flex patientTitle justify-content-between">
                    <div>My Patient</div>
                    <div><a href="#">View all</a></div>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <div><img src="assets/image/logo-img.png" class="image" alt="Image"></div>
                    <div class="patientName">
                        <div>Sara Paul</div>
                        <div class="gender">Female,28 yrs</div>
                    </div>
                </div>
                <div class="patient-contact text-end">
                    <div>12:35 AM</div>
                    <div>9999988888</div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <div><img src="assets/image/logo-img.png" class="image" alt="Image"></div>
                    <div class="patientName">
                        <div>Ammy Richard</div>
                        <div>Male,58 yrs</div>
                    </div>
                </div>
                <div class="text-end">
                    <div>1:00 AM</div>
                    <div>9999988888</div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <div><img src="assets/image/logo-img.png" class="image" alt="Image"></div>
                    <div class="patientName">
                        <div>Ammy Richard</div>
                        <div>Male,58 yrs</div>
                    </div>
                </div>
                <div class="text-end">
                    <div>1:00 AM</div>
                    <div>9999988888</div>
                </div>
            </div>
        </div>
        <!-- end: list of patient -->
    </div>
    <!-- end: row -->

    
</div>
<!-- end: wrapper -->





